{% extends 'base.html' %}
{% block body %}
<div class="container">

    {% if form.errors %}
    <div class="alert alert-danger">
        <h2>Wrong registration data:</h2>
        {{ form.errors }}
    </div>
    {% endif %}

    <h2>{{ login_title }}</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-outline-secondary">Log In</button>
    </form>

    <br>

    <h5>Do not have LightAirlines account?</h5>
    <a href="{% url 'passenger-signup' %}?next={{ request.GET.next|urlencode  }}" class="btn btn-outline-secondary">
        Sign Up</a>

</div>
{% endblock %}
