{% extends 'staff_cabinet_base.html' %}
{% block navbar %}
<ul class="navbar-nav flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
    <li>
        <a href="{% url 'gate-manager-profile' %}" class="text-decoration-none link-dark align-middle px-0">
            <span class="ms-1 d-none d-sm-inline">Profile</span>
        </a>
    </li>
    <br>
    <li>
        <a href="" class="text-decoration-none link-dark align-middle px-0">
            <span class="ms-1 d-none d-sm-inline">Check In passenger</span>
        </a>
    </li>
    <li>
        <a href="" class="text-decoration-none link-dark align-middle px-0">
            <span class="ms-1 d-none d-sm-inline">Add options to ticket</span>
        </a>
    </li>
</ul>
{% endblock %}

{% block profile_content %}

<p>email: {{ request.user.email }}</p>
<p>first name: {{ request.user.first_name }}</p>
<p>last name: {{ request.user.last_name }}</p>
<p>role: Check-in Manager</p>

{% endblock %}