{% extends 'base.html' %}
{% block body %}
<h1>Welcome to LightAirlines!</h1>

<div class="container">

    {% if form.errors %}
    <div class="alert alert-danger">
        <h2>Wrong search data:</h2>
        {{ form.errors }}
    </div>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        {{ form.media }}
        <button type="submit">Find tickets</button>
    </form>
</div>

<br>

{% if not initial %}
<div class="container">
    <h2>Results of your search:</h2>
    <ul class="list-group">
    {% for flight in results %}
        <li class="list-group-item" style="width: 30rem;">
            {% if discount_percent %}
            <div class="position-absolute top-0 end-0 btn btn-primary">-{{ discount_percent }}%</div>
            {% endif %}
            <p><small>from: </small><strong>{{ flight.origin.city }} / {{ flight.origin.iata }}</strong></p>
            <p><small>to: </small><strong>{{ flight.destination.city }} / {{ flight.destination.iata }}</strong></p>
            <time datetime="{{ flight.departure_time }}">
              <span><small>departure: </small> {{ flight.departure_time }}</span>
            </time>
            <p><small>duration: </small> {{ flight.duration }} hours</p>
            <p><small><strong>{{ n_passengers }}</strong> ticket(s) price: </small><strong>{{ booking_price }} €</strong></p>
            <a href="{% url 'tickets-form' %}?flight_id={{ flight.id }}&fare_class={{ fare_class_pk }}&n_passengers={{ form_data.n_passengers }}"
               class="btn btn-primary">
                Order tickets
            </a>
        </li>
    {% empty %}
        <p>No flights found. Try different search parameters</p>
    {% endfor %}
    </ul>
</div>
{% endif %}



{% endblock %}
